/* color variables */

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid red;
}

.container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid turquoise;
}

.item.active {
    display: block;
}

.item {
    display: none;
}
